APP_PORT=8080
APP_LOGLEVEL="debug"

SEED_ADMIN_USER_ID="cl3pelamf0000pes46cyjmlm0"
SEED_ADMIN_USERNAME="admin"
SEED_ADMIN_PASSWORD="admin"

DATABASE_NAME=hashit
DATABASE_USER=hashit
DATABASE_PASS=hashit
DATABASE_PORT=5432
DATABASE_URL="postgresql://hashit:hashit@localhost:5432/hashit?schema=public"

